<mat-tab-group dynamicHeight>
    <mat-tab label="Material">
        <div class="example-large-box mat-elevation-z4">
            <a (click)="changeTexture1($event)"><img src="assets/Textures/Shirt_Texture_01.png" width="120px" height="109px"> </a>
            <a (click)="changeTexture2($event)"><img src="assets/Textures/01231010301.jpg" width="120px"> </a>
            <a (click)="changeTexture3($event)"><img src="assets/Textures/01231010303.jpg" width="120px"> </a>
            <a (click)="changeTexture4($event)"><img src="assets/Textures/01231110301.jpg" width="120px"> </a>
            <a (click)="changeTexture5($event)"><img src="assets/Textures/01232110300.jpg" width="120px"> </a>
            <a (click)="changeTexture6($event)"><img src="assets/Textures/01232110300_hd.jpg" width="120px"> </a>
            <a (click)="changeTexture7($event)"><img src="assets/Textures/01233010301.jpg" width="120px"> </a>
            <a (click)="changeTexture1($event)"><img src="assets/Textures/01411010301.jpg" width="120px"> </a>
            <a (click)="changeTexture2($event)"><img src="assets/Textures/01711102100.jpg" width="120px"> </a>
            <a (click)="changeTexture3($event)"><img src="assets/Textures/02210702100.jpg" width="120px"> </a>
            <a (click)="changeTexture4($event)"><img src="assets/Textures/02411012100.jpg" width="120px"> </a>
            <a (click)="changeTexture5($event)"><img src="assets/Textures/02426172100.jpg" width="120px"> </a>
            </div>
            </mat-tab>
            <mat-tab label="Buttons">
                <div class="example-large-box mat-elevation-z4">
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                    <span><img src="assets/coller/botones.png" width="120px"> </span>
                </div>
            </mat-tab>
            <mat-tab label="Collers">
                <div class="example-large-box mat-elevation-z4">
                    <span><img src="assets/coller/01011.png" width="120px"> </span>
                    <span><img src="assets/coller/01018.png" width="120px"> </span>
                    <span><img src="assets/coller/01020.png" width="120px"> </span>
                    <span><img src="assets/coller/01215.png" width="120px"> </span>
                    <span><img src="assets/coller/02007.png" width="120px"> </span>
                    <span><img src="assets/coller/02012.png" width="120px"> </span>
                    <span><img src="assets/coller/03010.png" width="120px"> </span>
                    <span><img src="assets/coller/4001.png" width="120px"> </span>
                    <span><img src="assets/coller/4002.png" width="120px"> </span>
                    <span><img src="assets/coller/05005.png" width="120px"> </span>
                    <span><img src="assets/coller/05085.png" width="120px"> </span>
                    <span><img src="assets/coller/06001.png" width="120px"> </span>
        </div>
    </mat-tab>
</mat-tab-group>