.example-large-box.mat-elevation-z4.ng-star-inserted {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*grid-template-rows: 100px;*/
    padding: 25px;
}

.example-large-box a{
    cursor: pointer;
}
