<mat-tab-group dynamicHeight>
    <mat-tab label="Material">
        <div class="example-large-box mat-elevation-z4">
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
            </div>
            </mat-tab>
            <mat-tab label="Buttons">
                <div class="example-large-box mat-elevation-z4">
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                </div>
            </mat-tab>
            <mat-tab label="Collers">
                <div class="example-large-box mat-elevation-z4">
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
                    <span><img src="assets/Textures/Shirt_Texture_01.png" width="120px"> </span>
        </div>
    </mat-tab>
</mat-tab-group>