<mat-tab-group dynamicHeight>
    <mat-tab label="Size">
        <div class="example-small-box mat-elevation-z4">
            Size
        </div>
    </mat-tab>
    <mat-tab label="Texture">
        <div class="example-large-box mat-elevation-z4">
            Texture
            </div>
            </mat-tab>
            <mat-tab label="Buttons">
                <div class="example-large-box mat-elevation-z4">
                    Buttons
                </div>
            </mat-tab>
            <mat-tab label="Collers">
                <div class="example-large-box mat-elevation-z4">
                    Collers
        </div>
    </mat-tab>
</mat-tab-group>