.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.slider-nav{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 400px;
  z-index: 9999;
  background: #ffffff;
  padding: 15px;
  overflow: hidden;
  display: none;
}
